.searchForm {
  height: 50px;
  border-radius: 25px;
  background: #fff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.searchForm select {
  border: 0px;

  color: var(--gray6, #333);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.searchForm .leftSelect {
  margin-left: 17%;
}

.searchForm .submitInput {
  height: 44px;
  width: 44px;

  margin: 4px;

  border: 0px;
  border-radius: 22px;
  background: #979bfc;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--gray0, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.recommendedStudentsDiv {
  margin-top: 18px;
  height: 170px;
  width: 100%;

  border-radius: 25px;
  background: #fff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.recommendedStudentsDiv .peson {
  margin: 40px;
}

.recommendedStudentsDiv .infoDiv {
  margin-right: 70px;
  height: 100%;
  width: 80%;

  background-color: red;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
