.loginbackground {
  position: fixed;

  width: 100%;
  height: 100%;

  background: linear-gradient(251deg, #8a6ae3 7.73%, #3338b3 100%);
}

.loginoutFormDiv {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);

  width: 558px;
  height: 100%;

  background-color: white;
}

.loginoutForm {
  position: relative;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.loginoutFormDiv .mainLabel {
  width: 100%;

  color: var(--gray6, #333);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.loginoutFormDiv .label {
  width: 100%;

  color: var(--gray6, #333);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.loginoutFormDiv .idInput,
.loginoutFormDiv .passwordInput {
  position: relative;

  width: 98%;
  height: 40px;

  border-radius: 15px;
  border: 2px solid rgba(61, 67, 208, 0.5);

  background: #fff;
}

.loginoutFormDiv .button {
  border: 0px;
  background-color: white;

  color: #979797;

  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.loginoutFormDiv .submitInput {
  width: 100%;

  height: 40px;
  border: 0px;

  border-radius: 15px;
  background: #979bfc;

  color: var(--gray0, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
