

.success {
    color: #6139D0;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
    letter-spacing: -0.072px;
  }
  .detail {
    align-items: "center"
  }