.offer_list_container .offer_list_title {
  color: #fff;
  font-family: Inter;
  margin-bottom: 30px;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 68.571% */
  letter-spacing: -0.105px;
}

::-webkit-scrollbar {
  display: none;
}
